.logo{
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    margin: auto;
    display:block ;
    object-fit: scale-down;
}
.container{
 position: relative;
 width: 80%;
 margin-right: auto;
 margin-left: auto;

}
.background{
    background-color:#42B785;
}

.border{
    margin-top:10px;
    border-width: 15px;
    border-style:none;
    border-radius:15px;
    font-size: 8px;
    background-color:#2D3D50;
    color:#FFFFFF;
}

.menuItem{
    margin-top: 20px;
    display:  flex;
    align-items: center;
    justify-content:  center;
}
.number{
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    background-color:#2D3D50 ;
    font-size: 10px;
    color:#FFFFFF;
    padding:3px;

}
.type{
    font-size:10px;
    color:#2D3D50;
    background-color: khaki;
    padding:3px;

}
.title{
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    color:#2D3D50;
    font-size: 1px;
    padding:2px;
    text-decoration:none;
}
.arrowright{
    width: 0; 
    height: 0; 
    border-width: 7px; 
    border-style: solid; 
    border-color: transparent transparent transparent #2D3D50;
    float: right; 
    position: absolute;
    right:10%;    
}
.arrowleft{
    width: 0; 
    height: 0; 
    border-width: 7px; 
    border-style: solid; 
    border-color: transparent #2d3d50 transparent transparent;
    float: left; 
    position: absolute;
    left:10%;
}
